
body {
    background-color: black;
}



h1 {
    color: white;
    text-align: center;
    filter: drop-shadow(0 0 15px 
    rgba(0, 60, 223, 0.5));
}


article {
    margin: 50px auto;
    width: 519px;
    position: relative;
    transition: all 0.3s ease;
}


article img:first-child {
    width: 100%;
    box-shadow: 5px 13px 15px -3px
    rgba(44, 90, 219, 0.5);
    border-radius: 8px;
    object-fit: cover;
    transition: all 0.3s ease;
}


article img:last-child {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(10%);
    opacity: 0;
    transition: all 0.3s ease;
}



article:hover img:first-child {
    transform: perspective(250px)
    rotateX(40deg)
    translateY(-5%)
    translateZ(0);

}


article::before {
    box-shadow: 5px 13px 15px -3px
    rgba(44, 90, 219, 0.5);
    opacity: 0;
    transition: all 0.1s ease;
}


article:hover::before {
    opacity: 1;
}



article:hover img:last-child {
    opacity: 1;
    transform: translateY(100deg);
}